<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Al Kardesler Ticaret</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="sticky">
        <div>
            <a href="/Home/Index"><img class="d-block m-auto pt-5" src="/Images/logo.png" alt=""></a>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="bg-dark text-white text-center p-5 mt-5">
            &copy; 2021 - Designed by <a class="text-decoration-none tema-rengi hover-tema-rengi" href="/Home/Index">Sametcan AL </a>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
